---
import Link from "./ui/link.astro";

---
<div class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
    <h2 class="text-4xl md:text-6xl tracking-tight">
        <span style="background: linear-gradient(to right, rgb(247, 1, 247), blue, rgb(245, 0, 41)); -webkit-background-clip: text; background-clip: text; color: transparent; font-bold">
          Have a Great Innovation Idea?
        </span>
      </h2>
    <p class="text-slate-400 mt-4 text-lg md:text-xl">
      We believe in the power of innovation, and we want to help turn your brilliant ideas into reality. Whether you're a student with a groundbreaking concept or simply looking to explore your creative side, we're here to support you on your innovation journey.
    </p>
    <div class="flex mt-5">
        <Link
          href="registration-link-here"
          class="text-gradient hover:text-gradient-hover font-bold text-lg md:text-xl px-4 py-2 rounded-lg"
        >
          Register Your Idea
        </Link>
      </div>
                
  </div>
  
<style>
/* Define a gradient text color effect */
.gradient-text {
  background-image: linear-gradient(to right, purple, blue, pink);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


</style>