<footer class="bg-gray-900 py-8 text-white">
  <div class="container mx-auto text-center">
    <p class="text-sm text-gray-400">
      Copyright © {new Date().getFullYear()} BSE22/23. All rights reserved.
    </p>
    <p class="text-xs text-gray-400 mt-1">
      Made by <a
        href="https://web3templates.com"
        target="_blank"
        rel="noopener"
        class="text-blue-400 hover:underline">
        BSE-22/23
      </a>
    </p>
  </div>
</footer>
