---
import { Image } from 'astro:assets';
import heroImage from "../Images/hero4.png";

---
<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-18 md:pb-18">
  <div class="md:order-1">
    <Image
      src={heroImage}
      alt="Hero Image"
      class="w-full md:w-100 mx-auto md:mx-0"
      loading="eager"
      format="png"
      sizes="(max-width: 1200px) 100vw, 620px"
    />
  </div>
  <div class="text-center md:text-left mt-8 md:mt-0">
    <h1 class="text-3xl md:text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter md:text-left">
      Welcome to the <span class="text-gradient">Young Inventors Club </span>{" "}
      <span class="text-black-600">of </span> <span class="text-slate-600">OUSL</span>
    </h1>
    <p class="text-lg mt-4 text-slate-800 max-w-xl ">
      We are the fastest-growing Young Inventors Club in Sri Lanka.
    </p>
  </div>
</main>



<style>
.text-gradient {
  background: linear-gradient(to right, #FFA500, #FF6347); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

</style>
